@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Barlow Light';
  src: url("images/Barlow-Light.ttf");
}
@font-face {
  font-family: 'Suika DEMO';
  src: url("images/Suika-DEMO.ttf");
}


 		.site-nav {
					display: flex;
					padding:10px 20px;
					grid-template-columns: repeat(6, 1fr);
					grid-row-gap: 0px;
					justify-items: center;
					align-items: center;
					justify-content: space-between;
					background:#231942;
					position:fixed;
					top: 0;
					left: 0;
					z-index: 1000;
					white-space: nowrap;
					width: 98%;
				
					}
		.site-nav a {
					justify-self: center;
					color: #CEC2EA;
					font-size:20px;
					text-decoration: none;
					padding:
									10px;
					margin:
								2px 30px;
					}
		.site-nav a:hover {
					background:#2d1c45;
					border-radius:15px;
					color:white;
					
}
		.site-header {
					color:white;
					}
	
	
		.border {
					border: 2px solid #41414f;
					border-radius:15px;
					
 
}
		.wow1 {
					padding:
					25px 30px 30px 30px;
 					margin-top:130px;
					margin-bottom:100px;
					margin-left:100px;
					margin-right:100px;
					text-align: justify;
					line-height: 1.6rem;
					background-color: #fffbf3;
					}
.wow2 {
					padding:
					25px 30px 30px 30px;
 					margin-top:0px;
					margin-bottom:100px;
					margin-left:100px;
					margin-right:100px;
					text-align: justify;
					line-height: 1.6rem;
					background-color: #fffbf3;
					}
		
		

		.teamgrid {
					display: grid;
					grid-template-columns: auto auto auto auto auto auto;
					justify-items: center;
					justify-content: space-between;
					padding:20px;
					}

		.details-example {
					padding: 50px;}

		.bio {
					width:200px;
					margin-left: auto;
			margin-right:auto;}
	
		.writer{	width:200px;
					margin-left: auto;
					margin-right:auto;
					padding: 10px
				
	
}
		.editor{	width:200px;
					margin-left: auto;
					margin-right:auto;
					padding: 10px}

		.owner{	width:200px;
					margin-left: auto;
					margin-right:auto;
					padding: 10px
	
}
		body {

					background-image:url("images/stars.png");
			}
	


		.routinegrid {
					display: grid;
					grid-template-columns: auto auto;
					grid-row-gap: 20px ;
					grid-column-gap: 40px;
					justify-items: center;
					align-items: start;
					justify-content: space-between;
					}

		.maskgrid 	{
					display: grid;
					grid-template-columns:auto auto;
					grid-row-gap: 20px;
					grid-column-gap: 40px;
					justify-items:center;
					align-items:center;
					justify-content: space-between;
					}

		.maskgrid img:hover {
					opacity: 80%;
					}
		.maskgrid img {
					transition:opacity 0.3s ease;
				}
		.routinegrid img:hover {
					opacity: 60%
					}
		.routinegrid img {
					transition:opacity 0.3s ease;
						}
		.details-example img:hover {
			opacity: 60%;
}


		a{ 
					color:#ab80c4;
}

		a:hover { 
					color: #5a3363}

		.smallinfo {
					font-family: "Barlow Light";
					font-size:20px;
			letter-spacing: 3px;
}
				

		.lead-display {
					position: relative;
					width: 1000px;
					height: 600px;
					background: url("images/leadimage.png") no-repeat ;
			
					}

		.primary-statement {
					color: #231942;
					letter-spacing:5px ;
					text-align: left;
					width: 800px;
					position: absolute;
					top:210px;
					left:100px;	
					font-family:Suika DEMO;
					font-size:45px;
					text-align:center;
					
					}

		footer {
					background:white;
					font-size:15px;
					text-align:center;
					padding: 10px;
					color:#231942;
					line-height: 30px;
			font-family:"Barlow Light";
					}

		.centered-image {
					display:block;
					margin-left:auto;
					margin-right:auto;
					margin-bottom:20px;
						}
#walk {
	align-content:center;
	
}
		.lead-display{
					font-size:30px;
					text-align:center;	
						}
		.flexwrap{
					display: flex;
					flex-wrap: wrap;
				}
		h2  		{
					
					font-family:"Suika DEMO";
					text-align:center;
					font-size:70px;
					color:#231942;
					margin-bottom:20px;
					width:800px;
					text-align:center;
					margin-left:110px;
					
					}

		h3 		{
					font-family: "Suika DEMO";
					font-size:50px;
					color:#231942;
					text-align: center;
					line-height:50px;
					margin-bottom:10px;
		
				}
h4 {
					font-family: "Suika DEMO";
					font-size:30px;
					color:#764179;
					text-align: center;
					line-height:50px;
					margin-bottom:10px;
					line-width:5px;
					margin-top:0px;
}

h5 {
	font-family:"Barlow Light";
	font-size:18px;
	color:#764179;
	
}




.margins {
	margin-top:130px;
}

		p{
					font-size:20px;
					color:black;
					font-family:'Barlow Light';
					}

		.ptext {	font-size:18px;
					color:black;
					line-height: 45px;
					align-content: center;
					padding:0px 80px;
					font-family:"Barlow Light";
}

		ol {
					align-content: center;}

		.showcase {
					display: grid;
					gap: 20px;
					justify-content: space-between;
					grid-template-columns: repeat(4, 1fr);
					flex-wrap: wrap;
					margin-top: 50px;
					font-family:"Barlow Light";
				}
.allstats {
	display:grid;
	grid-template-columns:auto auto auto auto;
	justify-content: space-between;
	justify-items:center;
	align-items:center;
}
		.gallery-grid {
					display: grid;
					grid-template-columns: auto auto auto;
					justify-items: center;
					justify-content: space-between;
					align-items:center;
					}
		.gallery-grid2 {
					display: grid;
					grid-template-columns: auto auto;
					justify-items: center;
			
					}
	.big-gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 20px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }



		.showcase-item {
					background-color: #CEC2EA;
					border: 2px solid var(--b1);
					border-radius: 10px;
					padding: 20px;
					text-align: center;
					box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
					font-family:"Barlow Light";
						}

		.showcase-item img {
					width: 100%;
					height: 150px;
					object-fit: contain; 
					border-radius: 12px;
					margin-bottom: 1em;
					
					}


		.showcase-item h2 {
					color: var(--or);
					margin-bottom: 10px;
					font-size: 1.2rem;
					font-family: "Barlow Light";
				}

		.showcase-item p {
					font-family: "Barlow Light";
					font-size: 18px;
					color: var(--or);
					margin-bottom: 10px;
				}



		.wrapper 	{
					background: white;
			  	 	width: 1000px;
					margin-left: auto;
					margin-right:auto;
					padding: 20px 40px; 
			margin-top:110px;
					}


		.caption {
					font-size: 15px;
					align-items:center;
					text-align: center;

				}

		

		.page-header {
					background:#cec2ea;
					color:white;
					text-align:center;
					font-size:20px;
					}

		.page-header a {
					text-decoration:none;
					}

		.page-header a:hover {
					color:white;
					}

		.page-header a {
					color:#82667F;
					}
		.worldmap {
					
	
}

.diaryhead {
	text-align:left;
	font-family: "Suika DEMO";
	font-size:50px;
					color:#231942;
					
					line-height:50px;
					margin-bottom:10px;
	margin-top:50px;
}


.worldmap {
	width: 900px;
	height: 900px;
	border: solid #5a5a5a 1px;
	background: url("images/sleepcycle.png") no-repeat;
	background-size: 900px 900px;
	padding: 0;
	margin: auto; /* adjust as needed */
	margin-bottom: 50px;
	position: relative; /* needed for positioning the icons */
}

.worldmap-item {
	height: 24px;
	position: absolute;
	}

#worldmap-item-n1 {
	top: 200px;
	left: 465px;
	font-size:25px;
	color:blueviolet;
	}

#worldmap-item-n1:hover{
	color:lavender;
}
#worldmap-item-n2 {
	top: 540px;
	left: 710px;
	font-size:25px;
	color:blueviolet;
	}
#worldmap-item-n2:hover{
	color:lavender;
}
#worldmap-item-n3 {
	top:670px;
	left:240px;
	font-size:25px;
	color:blueviolet;
}
#worldmap-item-n3:hover{
	color:lavender;
}
#worldmap-item-rem {
	top:300px;
	left:205px;
	font-size:25px;
	color:blueviolet;
}
#worldmap-item-rem:hover{
	color:lavender;
}

#worldmap-item-s1 {
	top:230px;
	left:720px;
	font-size:25px;
	color:red;
}
#worldmap-item-s1:hover{
	color:hotpink;
}
#worldmap-item-s2 {
	top:515px;
	left:780px;
	font-size:25px;
	color:red;
}
#worldmap-item-s2:hover{
	color:hotpink;
}
#worldmap-item-s3 {
	top:750px;
	left:267px;
	font-size:25px;
	color:red;
}
#worldmap-item-s3:hover{
	color:hotpink;
}
#worldmap-item-s4 {
	top:350px;
	left:105px;
	font-size:25px;
	color:red;
}

#worldmap-item-s4:hover{
	color:hotpink;
}



.cyclegrid {
	display: grid;
            grid-template-columns: auto auto ;
            grid-row-gap: 20px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }

i:hover {
	color:green;
}
