@charset "utf-8";
/* CSS Document */

 .site-nav {
	     display: flex;
	 padding:10px 20px;
	     grid-template-columns: repeat(6, 1fr);
	     grid-row-gap: 0px;
	     justify-items: center;
	     align-items: center;
	     justify-content: space-between;
	     background:#feeafa;
	 position:fixed;
	    top: 0;
    left: 0;
    z-index: 1000;
	 white-space: nowrap;
	width: 98%;
	
	  }
		
	.site-nav a {
	     justify-self: center;
	     color: #231942;
		font-size:20px;
	     text-decoration: none;
	  }

footer{
	background:#cbc0d3;
	font-size:15px;
	text-align:center;
	padding: 20px;
	color:white;
}

.lead-display{
	font-size:30px;
	text-align:center;
	
}
h2 {
	font-family:Suika DEMO;
}

p{
	font-size:20px;
}

.showcase {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */

  flex-wrap: wrap;
  margin-top: 50px;
}

.showcase-item {
  background-color: #dee2ff;
  border: 2px solid var(--b1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .showcase-item:hover {
  transform: translateY(-5px);
} */

.showcase-item img {
  width: 100%;
  height: 150px;
  object-fit: contain; 
  border-radius: 12px;
  margin-bottom: 1em;
}


.showcase-item h2 {
  color: var(--or);
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.showcase-item p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  color: var(--or);
  margin-bottom: 10px;
}
.sticky{
	position:fixed;
}

.wrapper 	{background: white;
			  	 	width: 1000px;
					margin-left: auto;
					margin-right:auto;
					padding: 20px 40px; }




.site-header{background:#cad9ee;
	text-align:center;
justify-items:start;}

